// Color name variables.
$white: #ffffff;
$off_white: #eeeeee;
$pale_gray: #cccccc;
$light_gray: #888888;
$medium_gray: #555555;
$dark_gray: #333333;
$near_black: #121212;
$black: #000000;
$text: $black;
$highlight: #ffee00;
