@import '_reset';

html {
	font-size: 62.5%;
}

body {
	background: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size: 1.8rem;
	line-height: 1.5;
	color: $text;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 3rem;
}

a {
	color: inherit;
}

div > figure {
	margin-top: 1em;
}

.hidden-content {
	display: none;
}

.zoom,
a[data-app-modal="image"],
.gallery a[data-app-modal] {
	cursor: zoom-in;
}

img {
	display: block;

	&.small {
		max-width: 320px;
	}

	&.medium {
		max-width: 480px;
	}

	&.large {
		max-width: 720px;
	}

	&.full-width {
		width: 100%;
	}
}

.site-header {
	padding: 3rem 0;
	background-color: $highlight;
}

.site-title {
	margin-top: 4rem;
	font-size: 4.2rem;
    line-height: 1;
}

.site-description {
	margin-top: 0.25em;
	font-size: 2.1rem;
	font-weight: bold;
	font-weight: 600;
	line-height: 1;

	a {
		font-weight: bold;
		font-weight: 700;
		color: inherit;
	}
}

.site-main {
	padding-top: 4rem;

	h2,
	p {
		margin-top: 1em;
	}

	hr {
		margin: 3rem 0 2rem;
		border-color: $light_gray;
	}

	h2 {
		font-size: 2.4rem;
	}

	.gallery {
		list-style: none;
		display: grid;
		grid-template-columns: repeat( 1, 1fr );
		grid-gap: 0.35em 0.35em;
		width: 100%;
		max-width: 100vw;
		margin-top: 3rem;

		li {
			border: solid 1px $dark_gray;
		}

		@media screen and ( min-width: 480px ) {
			grid-template-columns: repeat( 2, 1fr );
		}

		@media screen and ( min-width: 769px ) {
			grid-template-columns: repeat( 2, 1fr );
		}

		@media screen and ( min-width: 1024px ) {
			grid-template-columns: repeat( 3, 1fr );
		}
	}
}

.site-footer {
	margin-top: 6rem;
	padding: 2rem 0;
	border-bottom: solid 4px $highlight;

	p {
		small {
			font-size: 1.4rem;
			font-style: italic;
		}
	}
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}