/**
 * Browser reset and starter styles
 */
@-ms-viewport {
  width: device-width;
}

html {
  height: 100%;
  -ms-overflow-style: scrollbar;
  font-size: 100%;
  cursor: default;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  word-break: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  font-size: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, button, input, select, option, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  vertical-align: baseline;
}

body {
  min-height: 100%;
  font-size: inherit;
  line-height: 1;
}

article,
aside,
details,
div,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
section,
blockquote,
summary {
  display: block;
}

[hidden],
template {
  display: none;
}

img,
svg,
audio,
canvas,
progress,
video {
  display: inline-block;
}

img,
svg,
audio,
canvas,
progress,
iframe,
video {
  vertical-align: middle;
}

img,
svg,
object,
embed,
video {
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  height: auto;
  border: 0;
}

hr {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: visible;
  height: 0;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

input {
  line-height: normal;
}

input::-webkit-inner-spin-button {
  opacity: 1;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="button"], input[type="reset"], input[type="submit"], input[type="image"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[disabled] {
  cursor: default;
}

input,
textarea,
select,
button {
  border: solid 1px #ccc;
}

textarea {
  overflow: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-ms-expand {
  display: none;
}

button {
  overflow: visible;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
}

table tr {
  display: table-row;
}

table th {
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
}

table td {
  display: table-cell;
  font-weight: normal;
  vertical-align: top;
}

table td img {
  font-weight: normal;
  vertical-align: top;
}

a {
  outline: none;
  background-color: transparent;
}

a:hover, a:focus, a:active {
  outline: none;
  background-color: transparent;
}

b,
strong {
  font-weight: bold;
}

em {
  font-style: normal;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

small {
  font-size: 85%;
}

del {
  text-decoration: line-through;
}

blockquote,
q {
  quotes: none;
}

blockquote :before,
blockquote :after,
q :before,
q :after {
  content: '';
  content: none;
}

q,
cite {
  font-style: normal;
}

svg:not(:root) {
  overflow: hidden;
}

svg:where(:not([fill])) {
  fill: currentColor;
}

abbr[title],
abbr[data-original-title],
dfn[title] {
  cursor: help;
}

dfn {
  font-style: italic;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-family: monospace;
  font-size: 1em;
}

pre {
  overflow: auto;
  -ms-overflow-style: scrollbar;
  white-space: pre-wrap;
  word-wrap: break-word;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

:dir(ltr) td:not([align]),
:dir(ltr) th:not([align]),
*[dir=ltr] td:not([align]),
*[dir=ltr] th:not([align]) {
  text-align: left;
}

:dir(rtl) td:not([align]),
:dir(rtl) th:not([align]),
*[dir=rtl] td:not([align]),
*[dir=rtl] th:not([align]) {
  text-align: right;
}

::-webkit-input-placeholder {
  color: #555;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #555;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #555;
  opacity: 1;
}

::placeholder {
  color: #555;
  opacity: 1;
}
